extends ../_partial/layout

block content

  .container.home
    each post in site.posts.sort('date', -1).data
      section.article
        a(href=url_for(post.path)).title= post.title || '未命名'
        div.content.excerpt!= post.excerpt || post.content
        if post.tags
          .tags!= list_tags(post.tags, { show_count: false, class: 'tag', style: false, separator: '' })
        div.article-footer
          a.excerpt-link(href=url_for(post.path))= theme.excerpt_link
          .article-footer__right
            span.date 写于#{moment(post.date).format(theme.date_format)}
        
